extends layout

block content
	h1= "Register a new user"
  
	form(action="/users/register", method="post")
		p
			| username: 
			input.form-control(type="text", name="username")
		p
			| password: 
			input.form-control(type="password", name="password")
		p
			| e-mail: 
			input.form-control.email(type="text", name="email")
		p
		input.btn.btn-primary(type="submit", value="Register")
