extends layout

block content
	h1=username + "'s tasks"
	ul
		each val in tasks
			li=val.task		
	p
		| Add a new task
		form(action="/tasks/newtask", method="post")
			p
				| task: 
				input.form-control(type="text", name="task")
			p
				input.btn.btn-primary(type="submit", value="Add task")